@import './tokens.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: var(--c-bg-base-dark);
}

p {
  text-align: left;
}

ul {
  list-style: disc;
}

/* Transition */
.fade-in-enter-active {
  transition: all var(--duration-slow) var(--ease-standard);
}
.fade-out-leave-active {
  transition: all var(--duration-base) var(--ease-standard);
}

.fade-out-leave-to,
.fade-in-enter-from {
  transform: translateY(10px);
  opacity: 0;
}

/* Animation */
.shake {
  animation: shake var(--shake-duration);
}

@keyframes shake {
  0% {
    transform: translate(var(--shake-distance-xs));
  }
  20% {
    transform: translate(calc(var(--shake-distance-sm) * -1));
  }
  40% {
    transform: translate(var(--shake-distance-sm));
  }
  60% {
    transform: translate(calc(var(--shake-distance-sm) * -1));
  }
  80% {
    transform: translate(var(--shake-distance-sm));
  }
  100% {
    transform: translate(calc(var(--shake-distance-xs) * -1));
  }
}
